core.autocrlf=false
*.c = linguist-language=C
*.h = linguist-language=C
*.awk = linguist-language=Awk
*.sh = linguist-language=Shell
make = linguist-language=makefile
*.ini = linguist-language=INI linguist-vendored=false
*.tsv = linguist-language=tsv linguist-vendored=false
*.json = linguist-language=json linguist-vendored=false
*.xml = linguist-language=xml linguist-vendored=false
*.man.* = linguist-documentation=true
*.html = linguist-documentation=true
*.txt = linguist-documentation=true
*.md = linguist-documentation=true
notes/* = linguist-documentation=true
*.hex = binary diff linguist-vendored=false
*.bin = binary diff linguist-vendored=false
