#exclude files generated when compiling
**/*.o
**/*.out
**/*.elf
#exclude files generated while testing
**/*.tmp
**/*.save
**/*.log
#exclude sed scripts used to edit code en-masse. I know regex-fu
**/*.sed
