#exclude files generated when compiling
*.o
*.out
#exclude files generated while testing
*.tmp
*.save
*.log
#exclude sed scripts used to edit code en-masse. I know regex-fu
*.sed
#exlude directories made specifically to exclude files
/tmp/*
/excude/*
/local/*
/nocommit/*
todo
todo.*
bugs
bugs.*
eyesonly
eyesonly.*
private
private.*
