core.autocrlf=false
*.c = linguist-language=C
*.h = linguist-language=C
*.awk = linguist-language=Awk
*.sh = linguist-language=Shell
make = linguist-language=makefile
*.ini = linguist-language=INI
*.man.* = linguist-documentation=true
*.html = linguist-documentation=true
*.txt = linguist-documentation=true
*.md = linguist-documentation=true
notes/* = linguist-documentation=true
*.zmap -merge -text
