#exclude files generated when compiling
**/*.o
**/*.out
**/*.elf
./conf.ini
#exclude files generated while testing
**/*.save
**/*.log
#exclude sed scripts used to edit code en-masse. I know regex-fu
**/*.sed
#exclude temporary files
**/*.tmp
**/*.swp
